@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

:global {
  .fc-event {
    cursor: pointer;
    background-color: $ms-color-themeSecondary;
    border-radius: 0px;
    border: 1px solid $ms-color-themePrimary;
  }

  .fc-unthemed {
    td.fc-today {
      background: $ms-color-themeLighter;
    }
  }

  .fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    background-color: $ms-color-themeSecondary;
    border-color: $ms-color-themePrimary;
  }

  .fc-prev-button, .fc-next-button, .fc-today-button {
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themeSecondary;
  }

  .fc-button-primary:hover {
    background-color: $ms-color-themeSecondary;
    border-color: $ms-color-themePrimary;
  }

  .graphCalendar {
    font-family: "Segoe UI","Helvetica Neue","Apple Color Emoji","Segoe UI Emoji",Helvetica,Arial,sans-serif;
  
    .container {
      display: grid;
      place-items: center;
      grid-template-areas: "inner-div";
    }
  
    .inner {
      grid-area: inner-div;
      place-items: center;
    }
  
    .loading {
      height: 100px;
      width: 140px;
      z-index: 1;
      background-color: $ms-color-white;
      border-color: $ms-color-themePrimary;
      border-radius: 0.25em;
      box-shadow: 0px 0px 5px 0px $ms-color-themeDark;
    }
  
    .spinner {
      top: 25%;
      position: relative;
    }
  }
}