// dark theme
$dark-primaryText: #ffffff;
$dark-backgroundColor: #3b3a39;
$dark-shadowColor: #525c6d;
$dark-borderColor: #464775;
$dark-spinnerPrimaryColor: #6264a7;
$dark-spinnerColor: #dadae3;
$dark-lightBorderColor: #dddddd;

$dark-overlay: rgba(37, 36, 35, 0.75);
$dark-surfaceBackground: #2d2c2c;
$dark-panelBorder: #4c4b4b;